.map-image{
	max-width: 50%;
	height: auto;
	margin: 0 auto;
}

#france-svg-map{
	position: relative;
}

#france-svg-map a{
	cursor: pointer;
}

.map-label-wrapper{
	text-align: center;
}
#map-label{
	font-size: 100px;
	z-index: 200;
	font-size: 1.3em;
    text-align: center;
    padding: 0.3em;
    background-color: #fff;
    box-shadow: 0px 0px 0.2em rgba(0,0,0,0.4);
    border-radius: 0.1em;
    background-color: white;
    font-family: sans-serif;
    text-transform: uppercase;
	max-width: 75%;
	display: inline-block;
}

#france-svg-map a:after{
	position: absolute;
	z-index: 40;
	background: red;
	padding: 10px;
	display: block;
	content: "test";
}

#france-svg-map path, #france-svg-map polygon, #france-svg-map polyline{
	fill: #ddd;
	stroke : #FFFFFF;
	stroke-width: 0.02rem;
	transition : fill 0.3s;
}

#france-svg-map path:hover, #france-svg-map polygon:hover, #france-svg-map polyline:hover{
	fill: #00afd7;
}

#france-svg-map .multi-group path, #france-svg-map .multi-group polygon, #france-svg-map .multi-group polyline{
	transition : fill 0.3s;
}

#france-svg-map .multi-group:hover path, #france-svg-map .multi-group:hover polygon, #france-svg-map .multi-group:hover polyline{
	fill: #00afd7
}
